<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
   
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="serviceFeeRatePrecentage" value="30"/>
    <add key="encryptKey" value="qinjiuge"/>
    <add key="rating" value="4"/>
    <add key="totalReview" value="3"/>
    <add key="reviewCountToDisplay" value="3"/>
    <add key="popServer" value="mail.finderacademy.com"/>
    <add key="popPort" value="587"/>
    <add key="mailFrom" value="contact@finderacademy.com"/>
    <add key="smtpServer" value="mail.finderacademy.com"/>
    <add key="popUserName" value="contact@finderacademy.com"/>
    <add key="popPassword" value="qinjiuge"/>
    <add key="relay" value="true"/>
    <add key="defaultContactPhone" value="650-307-6188"/>
    <add key="memberDiscount" value="0.95"/>
    <add key="blogsCountToDisplay" value="5"/>
    <add key="blogsRoot" value="G:\tmp\posts"/>
    <add key="blogsUrlTempalte" value="http://localhost:8066/blogs/post/{0}/"/>
  </appSettings>
  <connectionStrings>
     <!-- <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
    <add name="DataSourceConnectionString" connectionString="Data Source=ad1msg1;Persist Security Info=True;User ID=qinjiuge;Password=650jgcfbym" providerName="System.Data.SqlClient"/>
   <add name="FCEntities" connectionString="metadata=res://*/App_Code.FC.csdl|res://*/App_Code.FC.ssdl|res://*/App_Code.FC.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=FC;Persist Security Info=True;Integrated Security=SSPI;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="FCEntities" connectionString="metadata=res://*/App_Code.FC.csdl|res://*/App_Code.FC.ssdl|res://*/App_Code.FC.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ad1msg1;Initial Catalog=FC;Persist Security Info=True;User ID=fc;Password=qinjiuge;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="QAEntities" connectionString="metadata=res://*/QAModel.csdl|res://*/QAModel.ssdl|res://*/QAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ad1msg1;Initial Catalog=QA;Persist Security Info=True;User ID=qa;Password=qinjiuge;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
    <add name="QAEntities" connectionString="metadata=res://*/QAModel.csdl|res://*/QAModel.ssdl|res://*/QAModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=QA;Persist Security Info=True;Integrated Security=SSPI;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="file" xsi:type="File" fileName="${basedir}/log/halo.log" layout="${date:format=yyyy-MM-dd HH\:mm\:ss}|${level}|${stacktrace}|${message}" archiveFileName="${basedir}/log/logs####.log" archiveNumbering="Sequence" archiveEvery="Day" maxArchiveFiles="7"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="file"/>
    </rules>
  </nlog>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime requestValidationMode="2.0"/>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider"/>
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/login.aspx" timeout="2880"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
    <httpHandlers>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </httpHandlers>
      

  </system.web>
  
  <location path="member">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
   
 <modules runAllManagedModulesForAllRequests="true">
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </modules>
  <rewrite>
  <rules>
    <rule name="Rewrite to article.aspx">
      <match url="(^\d+$)" />
      <action type="Rewrite" url="QASession.aspx?code={R:1}" />
    </rule>
  </rules>
</rewrite>
  </system.webServer>
 
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <standardEndpoints>
      <webHttpEndpoint>
        <!-- 
            Configure the WCF REST service base address via the global.asax.cs file and the default endpoint 
            via the attributes on the <standardEndpoint> element below
        -->
        <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="true"/>
      </webHttpEndpoint>
    </standardEndpoints>
    <bindings>
      <webHttpBinding>
        <binding name="webBinding">
          <security mode="Transport"/>
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
  </entityFramework>

</configuration>